*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    background: #ffffff;

}

.logo {
    background-color: #d1e2c0;
}

.logo img {
    margin: 10px;
    width: 160px;
    height: 160px;
    background: #d2f3d1;
    border-radius: 50%
}
    
